body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.todo-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
}
input {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button {
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #f6f6f6;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update {
  background: #28a745;
}
.delete,
.update {
  display: inline-block;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.delete {
  background: red;
}
